.play-display-box {
    height: 30vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user {
    background-color: lightgreen;
    border: 2px solid green;

    /* Flip background image vertically */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.opponent {
    background-color: pink;
    border: 2px solid red;
}

.nobody {
    background-color: lightgray;
    border: 2px solid grey;
}

.hide {
    /* Make everything invisible */
    color: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;

    /* Disable text highlite */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#user-name-pic {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: lightgreen;
}

#opponent-name-pic {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    margin-left: 3px;
}

#chat-input {
    width: 100%;
    border: 1px solid black;
    border-top: none;
}

#chat-container {
    height: 50vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
}

#chat-body {
    max-height: 50vh;
    width: 100%;
    align-self: flex-end;
    overflow-y: scroll;
    
}